<div class="container">
    <div class="row row-content">
        <div class="col-12">
           <h3>View Attempt Assignment</h3>
        </div>
         <div class="col-12 col-md-9">
             <form>
                <div class="container">
                    <div class="row row-content">
                        <div class="col-12">
                           <h3>Please see Assignment</h3>
                        </div>
                         <div class="col-12 col-md-9">
                             <form>
                                 <div class="form-group row">
                                     <label for="tname" class="col-md-2 col-form-label">Assignment Name:</label>
                                     <div class="col-md-10">
                                         <p>answer</p>
                                     </div>
                                 </div>
             </form>
    
         </div>
          <div class="col-12 col-md">
         </div>
    </div>
    </div>
